<link href="//netdna.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//netdna.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
<script src="//code.jquery.com/jquery-1.11.1.min.js"></script>
<!------ Include the above in your HEAD tag ---------->

<link href="//maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css" rel="stylesheet">

<div class="nav-side-menu">
  <div class="brand">Dashboard</div>
  <i class="fa fa-bars fa-2x toggle-btn" data-toggle="collapse" data-target="#menu-content"></i>

  <div class="menu-list">

    <ul id="menu-content" class="menu-content collapse out">
      <li  data-toggle="collapse" data-target="#products"  *ngIf="!authService.loggedIn()">
        <a [routerLink]="['/underGraduate']">
          <i class="fa fa-dashboard fa-lg"></i> Under Graduate
        </a>
      </li>

      <li *ngIf="!authService.loggedIn()">
        <a  [routerLink]="['/postGraduate']">
          <i class="fa fa-gift fa-lg"></i> Post Graduate
        </a>
      </li>


      <li *ngIf="authService.loggedIn()">
        <a  [routerLink]="['/logUnderGraduate']">
          <i class="fa fa-globe fa-lg"></i> Under Graduate
        </a>
      </li>



      <li *ngIf="authService.loggedIn()">
        <a [routerLink]="['/logPostGraduate']">
          <i class="fa fa-car fa-lg"></i> Post Graduate
        </a>
      </li>



      <li *ngIf="authService.isAdmin()">
        <a [routerLink]="['/viewRepeatForms']">
          <i class="fa fa-user fa-lg"></i> Repeat Student
        </a>
      </li>

      <li *ngIf="authService.isAdmin()">
        <a [routerLink]="['/register']">
          <i class="fa fa-users fa-lg"></i> Registration
        </a>
      </li>
    </ul>
  </div>
</div>
