<h3>Examination Branch</h3>



<br>

<div class="logo">
  <img src="assets/images/images.jpg" alt="zjhjvz">
</div>



<p>
  The Assistant Registrar and her staff are constantly engaged in offering services to
  students for Examination & Registration purposes.
</p>
<p>
  Examinations & Registration Division is located at the 4th Floor of West Wing of
  University of Colombo School of Computing (UCSC) Building Complex.
</p>
<p>Only Students who have valid registration of the UCSC are enrolled to evaluate their academic excellence.
  Â  They will normally be allowed to attend to such activities during working days from 8.30 am. to 4.15 pm.
</p>
<p>The UCSC is affiliated to University of Colombo (UoC) for the purpose of awarding degrees. Therefore,
  the Vice-Chancellor of the University of Colombo is the principal executive officer and the principal
  academic officer who shall exercise all such powers vested in him by the Senate and the University Council
  to ensure uniformity and conformity with university standards for awarding degrees for the UCSC students.
</p>
<br>
<div class="logo">
  <img src="assets/images/logo_01.jpg" alt="zjhjvz">
</div>
<h3>Activities</h3>
<br>
<ul>
  <p>
    <i class="fa fa-dot-circle-o" aria-hidden="true"></i> Every student of the University of Colombo
    School of Computing will be given a student Identity Card.
  </p>
  <p>
    <i class="fa fa-dot-circle-o" aria-hidden="true"></i> Admission of such students selected by
    the University Grant Commission (UGC) for undergraduate courses of study in Computer Science and
    Information & Communication Technology.
  </p>
  <p>
    <i class="fa fa-dot-circle-o" aria-hidden="true"></i> Conduct Internal/External undergraduate
    examinations & Postgraduate examinations.
  </p>
  <p>
    <i class="fa fa-dot-circle-o" aria-hidden="true"></i> Conduct Award Ceremonies for award of
    certificates for BIT (External) Degree  Programme.
  </p>
  <p>
    <i class="fa fa-dot-circle-o" aria-hidden="true"></i> Attend to activities of the External Degree Convocation.
  </p>
  <p>
    <i class="fa fa-dot-circle-o" aria-hidden="true"></i> Issue of Academic Transcripts required by the all
    registered students of UCSC.
  </p>
</ul>
<br><br>
