<h3 class="tL">View Repeat Stuents</h3>
<br>
<app-admin-repeat-nav></app-admin-repeat-nav>
<div class="lo">
  <h2><b>Special Attention</b></h2>
  <br>
  <p>
    <i class="fa fa-dot-circle-o" aria-hidden="true"></i> CS repeat exams and IS repeat exams details can be seen here.
  </p>
  <p>
    <i class="fa fa-dot-circle-o" aria-hidden="true"></i> Can view all the repeat student's repeat exams and support report generation
  </p>
  <p>
    <i class="fa fa-dot-circle-o" aria-hidden="true"></i> Students whose medical certificates are accepted by the board are not required to pay the repeat examination fee for the absent subject/s, but have to apply for the examination of the absent subject/s by duly filling the repeat examination form.
  </p>
</div>
